#menu{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#orderForm{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: lightgray;
    padding: 10px;
}